:root {
    --black: #111315;
    --black-rgb: 17, 19, 21;
    --grey: #555759;
    --white: #eaecee;
    --white-transparent: #eaecee55;
    --white-rgb: 234, 236, 238;
    --accent: #77aadd;
    --accent-rgb: 119, 170, 221;
    --accent-bright: #99ccff;
    --accent-dark: #336699;
    --target-faint: #ca507850;
    --target-bright: #ca5078d0;
    --sans: sans-serif, sans-serif, sans, "ipa", sans-serif;
    --mono: "Cascadia Code", "Cascadia Mono", "GitLab Mono", "JetBrains Mono",
        Hack, "Source Code Pro", "DejaVu Sans Mono", Menlo, Consolas, Monaco,
        "Roboto Mono", Inconsolata, "Liberation Mono", "Ubuntu Mono",
        "Lucida Console", monospace;
}

::selection {
    background-color: var(--accent-dark);
    color: #fff;
}

:target {
    background-color: var(--target-faint);
    border-right: var(--target-bright) solid 0.25rem;
    padding-right: 0.25rem;
}
.fnm-cx {
    border-radius: 0.25rem;
}
.fnm-cx:hover,
.fnm-cx:focus-within {
    background-color: #ca507820;
}
.cx-highlight.cx-highlight.cx-highlight {
    background-color: var(--target-faint);
}
.fnm-cx:hover a[href^="#fn-"],
.fnm-cx:focus-within a[href^="#fn-"],
.cx-highlight a[href^="#fn-"] {
    font-weight: bolder;
}

@font-face {
    font-family: "nastaliq";
    src:
        local("nastaliq"),
        local("Noto Nastaliq Urdu"),
        local("NotoNastaliqUrdu"),
        local("Noto Nastaliq"),
        local("Nastaliq Urdu"),
        local("NotoNastaliqUrdu-Regular"),
        local("Awami Nastaliq"),
        local("Urdu Typesetting"),
        local("Urdu"),
        local("Amar Nastaleeq"),
        url("../fonts/NotoNastaliqUrdu-Regular.woff2");
}
@font-face {
    font-family: "kufi";
    src:
        local("kufi"),
        local("kufic"),
        local("Noto Kufi Arabic"),
        local("NotoKufiArabic"),
        local("NotoKufiArabic-Regular"),
        local("Cairo"),
        local("Diwan Kufi"),
        local("Andalus"),
        local("Reem Kufi"),
        local("Changa"),
        local("Qahiri"),
        local("Almarai"),
        local("Mada"),
        local("Kufam"),
        url("../fonts/NotoKufiArabic.woff2");
}
@font-face {
    font-family: "blackletter";
    src:
        local("blackletter"),
        local("fraktur"),
        local("Unifraktur"),
        local("UnifrakturMaguntia"),
        local("Unifraktur Maguntia"),
        local("UnifrakturCook"),
        local("Unifraktur Cook"),
        url("../fonts/UnifrakturMaguntia.woff2");
    size-adjust: 125%;
}
@font-face {
    font-family: "ipa";
    src:
        local("ipa"),
        local("Gentium Plus"),
        local("GentiumPlus"),
        local("GentiumPlus-Regular"),
        local("Gentium Book Plus"),
        local("GentiumBookPlus"),
        local("GentiumBookPlus-Regular"),
        local("Gentium"),
        local("Gentium-Regular"),
        local("Gentium Alt"),
        local("GentiumAlt"),
        local("GentiumAlt-Regular"),
        url("../fonts/GentiumPlus-Regular.woff2");
    size-adjust: 112.5%;
    font-feature-settings: "ss12" on;
}
@font-face {
    font-family: "ipa";
    font-weight: bold;
    src:
        local("ipa"),
        local("Gentium Plus Bold"),
        local("GentiumPlusBold"),
        local("GentiumPlus-Bold"),
        local("Gentium Book Plus Bold"),
        local("GentiumBookPlusBold"),
        local("GentiumBookPlus-Bold"),
        local("GentiumBold"),
        local("Gentium Bold"),
        local("Gentium-Bold"),
        local("Gentium Alt Bold"),
        local("GentiumAltBold"),
        local("GentiumAlt-Bold"),
        url("../fonts/GentiumPlus-Bold.woff2");
    size-adjust: 112.5%;
    font-feature-settings: "ss12" on;
}
@font-face {
    font-family: "coursive";
    src:
        local("Patrick Hand"),
        local("PatrickHand"),
        local("Patrick Hand Regular"),
        local("PatrickHand-Regular"),
        url("../fonts/PatrickHand-Regular.woff2");
    size-adjust: 125%;
    font-feature-settings:
        "cpsp" on, "frac" on, "liga" on, "ordn" off, "sups" off;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    width: 100%;
    background-color: var(--black);
    font-family: var(--sans);
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: lining-nums tabular-nums;
    text-rendering: optimizeLegibility;
    color: var(--white);
    line-height: 1.5;
}

html,
body,
div,
header,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
aside {
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dfn {
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: bold;
}

img[alt]:not([alt=""]) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
}

ul,
ol {
    list-style-position: outside;
}
figcaption ul,
figcaption ol,
caption ul,
caption ol {
    list-style-position: inside;
}

ul {
    list-style-type: square;
}

ol:not([type]) {
    list-style-type: decimal;
}

li > ul,
li > ol {
    margin-left: 2.5rem;
}

code,
pre,
kbd {
    font-family: var(--mono);
    font-size: 1em;
}

pre {
    font-size: 1rem;
}

b,
strong {
    font-weight: bold;
}
strong {
    text-decoration: underline solid;
}
b strong,
strong b,
h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
th b,
th strong {
    font-weight: 950;
}

em,
i,
cite,
dfn,
var {
    font-style: italic;
}
cite {
    /* This notation is borrowed from a Chinese writing/typesetting practice;
     * see <https://zh.wikipedia.org/wiki/%E4%B9%A6%E5%90%8D%E5%8F%B7>.
     *
     * Most recent Chinese texts instead use angled quotation marks for this
     * purpose: either guillemets, or U+3008 … U+3009 (single) &
     * U+300a … U+300b (double). But this is presumably mostly for typesetting
     * & computer input convenience. */
    text-decoration:
        underline color-mix(in srgb, currentColor, transparent) wavy;
}
dfn {
    border: 0.0625rem solid color-mix(in srgb, currentColor, transparent);
    border-radius: 0.25rem;
}
em {
    text-decoration:
        underline color-mix(in srgb, currentColor, transparent) solid;
}
var {
    font-family: serif;
    font-family: math;
    font-family: math, serif, "ipa";
    font-synthesis-weight: auto;
    font-synthesis-style: none;
    font-synthesis-small-caps: auto;
    font-synthesis-position: auto;
}

a {
    color: var(--accent);
    border-bottom: none;
    text-decoration: none;
}
a[href*="#thematic-break-"] {
    color: inherit;
}
a code {
    color: var(--accent);
}
a:hover {
    color: var(--accent-bright);
    background-color: rgba(var(--accent-rgb), 0.2);
}
mark a {
    color: #13e;
    background-color: rgba(var(--white-rgb), 0.2);
}
mark a:hover {
    color: #13e;
    background-color: rgba(var(--white-rgb), 0.75);
}

ins {
    background-color: #00ff0020;
    text-decoration: underline;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 1.125rem 0 1.125rem 0;
    border: 0.0625rem solid var(--white-transparent);
}

table {
    border-collapse: collapse;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

tr {
    margin: 0;
    padding: 0;
}
tr:nth-child(even) {
    background-color: rgba(var(--white-rgb), 0.0625);
}
tr:nth-child(odd) {
    background-color: #00000040;
}
thead > tr:nth-child(n) {
    background-color: rgba(var(--accent-rgb), 0.1875);
    color: #fff;
}

td,
th {
    margin: 0;
    padding: 8px;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: var(--white-transparent);
}

th {
    text-align: center;
    font-weight: bold;
}

td {
    text-align: start;
    font-weight: normal;
}

summary {
    display: list-item;
}

figure {
    margin: 1.125rem 0 1.125rem 0;
}
figure:hover,
figure:focus-within {
    outline: var(--white-transparent) solid 2px;
}
figure.no-outline.no-outline {
    outline: revert;
}

figcaption,
caption {
    padding: 8px 16px 8px 16px;
    margin: 0 8.3333% 0 8.3333%;
    border: 0;
    border-radius: 0.75rem;
    background-color: rgba(var(--accent-rgb), 0.09375);
    text-align: center;
}
@media (max-width: 48rem) {
    figcaption,
    caption {
        margin: 0;
        text-align: start;
        width: auto;
    }
}

address {
    display: inline;
    font-style: normal;
}

sub,
sup {
    display: inline;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

[title] {
    cursor: help;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration: underline dotted 0.0625rem;
    cursor: help;
}

u {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline solid;
}

mark {
    background-color: var(--accent-bright);
    color: #000;
}

rt {
    text-transform: full-size-kana;
}

ruby {
    -webkit-ruby-position: before;
    ruby-position: over;
}

ruby ruby {
    -webkit-ruby-position: after;
    ruby-position: under;
}

ruby[lang*="-Hanb"],
ruby[lang*="-Bopo"],
rt[lang*="-Hanb"],
rt[lang*="-Bopo"] {
    -webkit-ruby-position: inter-character;
    ruby-position: inter-character;
}

p {
    margin: 1.25rem 0 1.25rem 0;
    line-height: 1.5;
}
figure > p:first-of-type {
    margin-top: 4px;
}
figure > p:last-of-type {
    margin-bottom: 4px;
}

li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

details {
    display: block;
    margin: 1.125rem 0 1.125rem 0;
    padding: 12px 32px 12px 32px;
    border-width: 0.2rem 0 0.2rem 0;
    border-style: solid;
    border-color: var(--accent-dark);
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: rgba(var(--white-rgb), 0.0234375);
    width: 100%;
    left: -32px;
    position: relative;
}
@media (max-width: 48rem) {
    details {
        padding: min(0.5rem, 8px);
        left: max(-0.5rem, -8px);
    }
}

blockquote {
    display: block;
    margin: 1.125rem 0 1.125rem 0;
    padding: 8px 32px 8px 32px;
    background-color: rgba(var(--white-rgb), 0.0234375);
    border-radius: 0.75rem;
    border-width: 0 0 0 calc(0.1875rem + 3px);
    border-style: solid;
    border-color: var(--accent-dark);
}
figure blockquote {
    margin: 0.5rem 0 0.5rem 0;
}

dd {
    margin: 0 0 0 32px;
    padding: 3px 3px 3px 8px;
    border-left: calc(0.125rem + 1px) solid var(--accent-dark);
}

dd > p,
caption > p,
figcaption > p,
dd > table,
caption > table,
figcaption > table {
    margin: 1.25rem 0 1.25rem 0;
}
dd > p:first-child,
caption > p:first-child,
figcaption > p:first-child,
dd > table:first-child,
caption > table:first-child,
figcaption > table:first-child {
    margin: 0 0 1.25rem 0;
}
dd > p:last-child:last-child,
caption > p:last-child:last-child,
figcaption > p:last-child:last-child,
dd > table:last-child:last-child,
caption > table:last-child:last-child,
figcaption > table:last-child:last-child {
    margin: 1.25rem 0 0 0;
}
dd > p:last-child:first-child:first-child,
caption > p:last-child:first-child:first-child,
figcaption > p:last-child:first-child:first-child,
dd > table:last-child:first-child:first-child,
caption > table:last-child:first-child:first-child,
figcaption > table:last-child:first-child:first-child {
    margin: 0;
}

dd > ul,
dd > ol {
    margin: 1.125rem 0 1.125rem 1.5rem;
}
dd > ul:first-child,
dd > ol:first-child {
    margin: 0 0 1.125rem 1.5rem;
}
dd > ul:last-child:last-child,
dd > ol:last-child:last-child {
    margin: 1.125rem 0 0 1.5rem;
}
dd > ul:last-child:first-child:first-child,
dd > ol:last-child:first-child:first-child {
    margin: 0 0 0 1.5rem;
}

caption > ul,
caption > ol,
figcaption > ul,
figcaption > ol {
    margin: 1.125rem 0 1.125rem 0;
}
caption > ul:first-child,
caption > ol:first-child,
figcaption > ul:first-child,
figcaption > ol:first-child {
    margin: 0 0 1.125rem 0;
}
caption > ul:last-child:last-child,
caption > ol:last-child:last-child,
figcaption > ul:last-child:last-child,
figcaption > ol:last-child:last-child {
    margin: 1.125rem 0 0 0;
}
caption > ul:last-child:first-child:first-child,
caption > ol:last-child:first-child:first-child,
figcaption > ul:last-child:first-child:first-child,
figcaption > ol:last-child:first-child:first-child {
    margin: 0;
}

code {
    font-size: 0.85em;
    padding: 1px 3px 1px 3px;
    border: 1px solid rgba(var(--white-rgb), 0.1875);
    border-radius: 0.25rem;
    color: #fff;
    background-color: rgba(var(--white-rgb), 0.09375);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0.25rem 0 #000000c0;
    font-feature-settings: normal;
    font-variant-ligatures: none;
}

pre {
    background-color: rgba(var(--white-rgb), 0.09375) !important;
    padding: 16px;
    border-radius: 0.75rem;
    overflow: auto;
    box-shadow: 0 0 0.75rem 0 #000;
    font-feature-settings: normal;
    font-variant-ligatures: none;
}

pre > code {
    color: unset;
    background-color: unset;
    padding: 0;
    border: unset;
    border-radius: 0;
    box-shadow: none;
    font-feature-settings: normal;
    font-variant-ligatures: none;
}

kbd {
    display: inline-block;
    padding: 4px 5px;
    font-size: 85%;
    line-height: 85%;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(var(--white-rgb), 0.09375);
    border: 0.125rem solid var(--grey);
    border-radius: 0.1875rem;
    /* offset-x | offset-y | inset | color */
    box-shadow: 0 -0.125rem inset var(--grey);
    font-feature-settings: normal;
    font-variant-ligatures: none;
}

math {
    font-size: 112.5%;
    font-family: math;
}
math[display="block"] {
    font-size: 125%;
}
mtext {
    font-family: serif;
}

aside,
[role="note"] {
    display: block;
    margin: 16px;
    padding: 8px 18px 8px 18px;
    border-width: calc(0.125rem + 1px);
    border-style: solid;
    border-color: var(--accent-dark);
    background-color: rgba(var(--white-rgb), 0.0234375);
    box-shadow: 0 0 1.5rem 0 #000;
}
[role="note"] > p > strong:nth-of-type(1),
aside > p > strong:nth-of-type(1) {
    text-decoration: none;
    font-synthesis: none;
}
.aside-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}
.aside-wrapper > aside {
    display: inline-block;
    margin: 0 0 0 min(64px, 8.3333%);
    padding: 4px 16px 4px 16px;
    border-radius: 0.75rem;
    border-width: 0 calc(0.1875rem + 3px) 0 0;
    border-style: solid;
    border-color: var(--accent-dark);
    text-align: end;
    background-color: rgba(var(--accent-rgb), 0.09375);
    box-shadow: none;
}
.aside-wrapper ul,
.aside-wrapper ol {
    list-style-position: inside;
}

.screen-reader {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}

.skip-a {
    left: -9999rem;
    top: 2.5rem;
    z-index: 999999999;
    text-decoration: underline;
}

#header {
    margin: 0 0 1rem 0;
}

#header-top {
    display: flex;
    align-items: end;
    align-content: flex-start;
    justify-content: center;
    padding: 0;

    background-color: rgba(var(--accent-rgb), 0.2);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0.75rem 0.25rem #000;
}
#header-top > a.unstyled-a {
    margin-top: auto;
    margin-bottom: auto;
}

#header-top-text {
    font-size: xx-large;
    font-weight: normal;
}

#header-b {
    font-weight: bold;
}

#header-img {
    transform: none;
    max-width: none;

    display: block;
    height: 128px;
    margin: 0 16px 0 0;
}
@media (max-width: 24rem) {
    #header-img {
        display: none;
    }
}

#header-nav {
    background-color: rgba(var(--accent-rgb), 0.1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0.75rem 0.25rem #000;
    clip-path: inset(0 0 -0.75rem 0);
}

.section-nav {
    background-color: rgba(var(--accent-rgb), 0.1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0.75rem 0rem #000;
    border-radius: 0.5rem;
    margin: 1rem min(32px, 5%) 1rem min(32px, 5%);
}

#header-nav > ul,
.section-nav > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#header-nav > ul > li,
.section-nav > ul > li {
    display: inline-block;
    margin: 0;
}
#header-nav > ul > li:nth-child(n + 2)::before,
.section-nav > ul > li:nth-last-child(-n + 2)::before {
    font-size: small;
    color: rgba(var(--accent-rgb), 0.25);
    content: "|";
}

#header-nav > ul > li > a,
.section-nav > ul > li > a {
    display: inline-block;
    width: auto;
    height: 100%;
    padding: 8px 16px 8px 16px;
    text-align: center;
    vertical-align: middle;

    color: var(--white);
    font-weight: bolder;
}
#header-nav > ul > li > a:hover,
.section-nav > ul > li > a:hover {
    color: #fff;
    background-color: #26313d;
    text-decoration: none;
}

#main-narrow {
    max-width: 48rem;
    margin-left: calc(50% - 24rem);
}
@media (max-width: 48rem) {
    #main-narrow {
        max-width: none;
        margin: 0 min(0.5rem, 8px) 0 min(0.5rem, 8px);
    }
}

.unstyled-a,
.zola-anchor {
    color: var(--white);
    border-bottom: none;
    text-decoration: none;
    background-color: transparent;
}
.unstyled-a:hover {
    color: var(--white);
    text-decoration: none;
    background-color: transparent;
}

.first-published {
    text-align: center;
    margin: -0.5rem min(32px, 5%) -0.5rem min(32px, 5%);
    color: #c0c4c8;
    font-size: smaller;
}
.first-published time {
    color: var(--white);
}

#main-narrow h1,
#main-narrow h2,
#main-narrow h3,
#main-narrow h4,
#main-narrow h5,
#main-narrow h6 {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 1.125rem;
}
#main-narrow h1 {
    margin-top: 1.125rem;
}
#main-narrow h1 + h2,
#main-narrow h2 + h3,
#main-narrow h3 + h4,
#main-narrow h4 + h5,
#main-narrow h5 + h6 {
    margin-top: 0;
}
#main-narrow h1::before,
#main-narrow h2::before,
#main-narrow h3::before,
#main-narrow h4::before,
#main-narrow h5::before,
#main-narrow h6::before {
    visibility: visible;
    position: absolute;
    color: var(--white-transparent);
}
#main-narrow h1::after,
#main-narrow h2::after,
#main-narrow h3::after,
#main-narrow h4::after,
#main-narrow h5::after,
#main-narrow h6::after {
    visibility: hidden;
    color: var(--white-transparent);
}
@media (max-width: 57rem) {
    #main-narrow h1::before,
    #main-narrow h2::before,
    #main-narrow h3::before,
    #main-narrow h4::before,
    #main-narrow h5::before,
    #main-narrow h6::before {
        visibility: hidden;
    }
    #main-narrow h1::after,
    #main-narrow h2::after,
    #main-narrow h3::after,
    #main-narrow h4::after,
    #main-narrow h5::after,
    #main-narrow h6::after {
        visibility: visible;
    }
}
#main-narrow h1::before {
    left: -1em;
    content: "#\00a0";
}
#main-narrow h2::before {
    left: -1.8em;
    content: "##\00a0";
}
#main-narrow h3::before {
    left: -2.6em;
    content: "###\00a0";
}
#main-narrow h4::before {
    left: -3.4em;
    content: "####\00a0";
}
#main-narrow h5::before {
    left: -4.2em;
    content: "#####\00a0";
}
#main-narrow h6::before {
    left: -5em;
    content: "######\00a0";
}
#main-narrow h1::after {
    content: "\00a0#";
}
#main-narrow h2::after {
    content: "\00a0##";
}
#main-narrow h3::after {
    content: "\00a0###";
}
#main-narrow h4::after {
    content: "\00a0####";
}
#main-narrow h5::after {
    content: "\00a0#####";
}
#main-narrow h6::after {
    content: "\00a0######";
}

#main-narrow > ul,
#main-narrow > ol,
.toc > ul,
.toc > ol,
details > ul,
details > ol,
figure > ul,
figure > ol,
article > ul,
article > ol
.e-instructions > ul,
.e-instructions > ol,
.p-summary > ul,
.p-summary > ol {
    margin: 1.125rem 0 1.125rem 1.5rem;
}

#main-narrow img:not([src$=".svg"]),
#main-narrow video,
#main-narrow math[display="block"] {
    width: fit-content;
}
#main-narrow math[display="block"] {
    width: 100vw;
}
#main-narrow table math[display="block"] {
    width: auto;
}
#main-narrow img,
#main-narrow table,
#main-narrow video {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0.75rem 0 #000;
}
#main-narrow img,
#main-narrow video,
#main-narrow math[display="block"] {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 100vw;
    /*max-height: 100vh;*/
    height: auto;
}
#main-narrow table math[display="block"] {
    margin-left: auto;
    transform: none;
    max-width: auto;
}
#main-narrow img[src$=".svg"],
#main-narrow img[alt$="✜"] {
    box-shadow: none;
}
#main-narrow img[alt$="◐"] {
    filter: invert(100%);
}
#main-narrow img.odd-width,
#main-narrow video.odd-width,
#main-narrow math[display="block"].odd-width {
    transform: translateX(calc(0.5px - 50%));
}
#main-narrow table math[display="block"].odd-width {
    transform: none;
}

#main-narrow table {
    min-width: fit-content;
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
}
#main-narrow .narrow-table {
    min-width: unset;
}
@media (max-width: 48rem) {
    #main-narrow img,
    #main-narrow video,
    #main-narrow math[display="block"] {
        margin-left: 0;
        max-width: 100%;
        height: auto;
        transform: none;
    }
    #main-narrow img.odd-width,
    #main-narrow video.odd-width,
    #main-narrow math[display="block"].odd-width {
        transform: none;
    }
}

#main-narrow audio {
    width: 100%;
}
@media (max-width: 48rem) {
    #main-narrow audio {
        width: auto;
    }
}

.fn-preview {
    display: block;
    margin: 0;
    border: none;
    position: absolute;
    box-sizing: border-box;
    z-index: 999;
    background: var(--black);
    outline: 2px solid var(--accent);
    border-radius: 0.75rem;
    padding: 8px 32px 8px 2rem;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0 0.75rem 0.125rem #000;
}

.crumbs {
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    padding: 8px;
    max-width: calc(50% - 24rem - 1rem - 1rem);

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: smaller;
}
.crumbs > ol {
    list-style-position: inside;
}
.crumbs li:last-of-type > a {
    color: var(--white);
    text-decoration: underline;
}
.crumbs li::marker {
    color: var(--white-transparent);
}
.crumb-h1 {
    list-style-type: "#\00a0";
}
.crumb-h2 {
    list-style-type: "##\00a0";
}
.crumb-h3 {
    list-style-type: "###\00a0";
}
.crumb-h4 {
    list-style-type: "####\00a0";
}
.crumb-h5 {
    list-style-type: "#####\00a0";
}
.crumb-h6 {
    list-style-type: "######\00a0";
}
@media (max-width: 64rem) {
    .crumbs {
        top: inherit;
        bottom: 0;

        padding: 4px 8px 4px 8px;
        max-width: calc(100vw - 1rem);
        max-height: 25vh;

        background-color: var(--black);
        border-radius: 0 0.5rem 0 0;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0 0 0.6rem 0 #000;
    }
    .crumbs li {
        display: inline-block;
    }
    .crumb-h2::before,
    .crumb-h3::before,
    .crumb-h4::before,
    .crumb-h5::before,
    .crumb-h6::before {
        content: "\00a0>\00a0";
    }
}
@media (max-width: 24rem) {
    .crumbs {
        display: none;
    }
}

.instant-playback {
    color: #eea010;
    cursor: help;
}
mark .instant-playback {
    color: #8e5010;
}
.instant-playback:hover {
    color: #ffb515;
    background-color: #eea01032;
}
mark .instant-playback:hover {
    color: #ae7010;
}

*[lang*="-Egyp"] {
    font-size: 200%;
}

.nastaliq,
*[lang*="-Aran"] {
    font-weight: normal;
    font-style: normal;
    font-synthesis: none;
    font-family: "nastaliq", cursive !important;
}
.kufi,
.kufic {
    font-family: "kufi", sans-serif !important;
}
.blackletter,
.fraktur,
*[lang*="-Latf"] {
    font-family: "blackletter", serif !important;
}
.ipa,
*[lang*="-fonipa"] {
    font-family: "ipa", serif;
}
.roman {
    font-family: "ipa", serif, serif !important;
    font-feature-settings: "ss12" off;
}
/* Regrettably, simply specifying `cursive` is insufficient, as many browsers
 * will make no attempt to provide a cursive font-face, in effect simply
 * ignoring the keyword altogether. */
.cursive {
    font-family: "coursive", cursive !important;
    font-variant:
        contextual discretionary-ligatures common-ligatures oldstyle-nums;
}
.cursive em {
    font-style: normal;
    text-decoration: underline currentColor;
}
.cursive em,
.cursive i {
    font-synthesis: none;
}

.verse {
    border-left: 0.25rem solid var(--white-transparent);
    padding: 1rem 0 1rem calc(1rem + 24px);
    font-family: serif, serif, "ipa";
    font-variant-ligatures:
        common-ligatures contextual discretionary-ligatures;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

.inversion {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: min-content;
    vertical-align: 0.4lh;
    margin-bottom: -0.25ex;
}
.inversion > sup,
.inversion > sub {
    vertical-align: baseline;
    line-height: inherit;
    position: static;
}

.entry-list-time {
    border: 0;
    border-right: 0.0625rem solid rgba(var(--white-rgb), 0.333333);
    padding-right: 0.7em;
}
.entry-list-a {
    padding-left: 0.5em;
}

/* Ehhh... */
/*
@media (min-width: 48rem) {
    html {
        overflow-x: hidden;
    }
}
html {
    overflow-x: hidden;
}
*/
