{% set html_title = "HTTP 404 | deer&rsquo;s website" %}
{% include "prelude.html" %}

<h1>HTTP 404</h1>

<p>
  Oopers&hellip; Whatever you were looking for, it ain&rsquo;t here. Try <a
  href="/">starting from the beginning</a>, mayhaps?
</p>

{% include "postlude.html" %}
