<nav class="section-nav">
  <ul>
    {#- snip -#}
    <li><a href="/art/images">&#x1f5bc;&#xfe0f; images</a></li>
    {#- snip -#}
    <li><a href="/art/audio">&#x1f3b6; audio</a></li>
    {#- snip -#}
    <li><a href="/art/video">&#x1f4f9; video</a></li>
    {#- snip -#}
  </ul>
</nav>
