{% include "prelude.html" %}

{% include "art_nav.html" %}

<span id="toc-label" class="screen-reader">table of contents</span>
<nav class="toc" aria-labelledby="toc-label">
  <ul>
    <li>
      <a href="#audio">audio</a>
      <ul>
        <li>
          <a href="#rusa-s-theme"><cite>rusa&rsquo;s Theme</cite></a>
        </li>
        <li>
          <a href="#cervid-s-theme"><cite>cervid&rsquo;s Theme</cite></a>
        </li>
        <li>
          <a href="#capreolina-s-theme"
            ><cite>capreolina&rsquo;s Theme</cite></a
          >
        </li>
        <li>
          <a href="#cervine-s-theme"><cite>cervine&rsquo;s Theme</cite></a>
        </li>
        <li>
          <a href="#alces-s-theme"><cite>alces&rsquo;s Theme</cite></a>
        </li>
        <li>
          <a href="#tarandus-s-theme"><cite>tarandus&rsquo;s Theme</cite></a>
        </li>
        <li>
          <a href="#bevy_test"><cite>bevy_test</cite></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<h1 id="audio"><a class="zola-anchor" href="#audio">audio</a></h1>

You can find my
<a href="https://en.wikipedia.org/wiki/Bandcamp">Bandcamp&trade;</a> page at
<strong
  ><a href="https://capreolina.bandcamp.com/"
    >https://capreolina.bandcamp.com/</a
  ></strong
>.

<h2 id="rusa-s-theme">
  <a class="zola-anchor" href="#rusa-s-theme"
    ><cite>rusa&rsquo;s Theme</cite></a
  >
</h2>

You can read about <cite>rusa&rsquo;s Theme</cite>
<a href="/diary/101/#rusa-s-theme">in pt. cii of my diary</a>.

<figure>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Lossy_compression">Lossy</a> preview
    of <cite>rusa&rsquo;s Theme</cite>
  </figcaption>

  <audio
    type="audio/ogg"
    controls
    preload="metadata"
    src="/art/audio/rusa-s_Theme.opus"
  ></audio>
</figure>

<ul>
  <li>
    <a href="https://capreolina.bandcamp.com/album/rusa-s-theme"
      >Bandcamp&trade;</a
    >
  </li>
  <li>
    <a download href="/art/audio/rusa-s_Theme.flac">Direct download</a>
  </li>
  <li><a href="/art/audio/rusa-s_Theme.mscz">Score</a></li>
</ul>

<h2 id="cervid-s-theme">
  <a class="zola-anchor" href="#cervid-s-theme"
    ><cite>cervid&rsquo;s Theme</cite></a
  >
</h2>

<figure>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Lossy_compression">Lossy</a> preview
    of <cite>cervid&rsquo;s Theme</cite>
  </figcaption>

  <audio
    type="audio/ogg"
    controls
    preload="metadata"
    src="/art/audio/cervid-s_Theme.opus"
  ></audio>
</figure>

<ul>
  <li>
    <a href="https://capreolina.bandcamp.com/album/cervid-s-theme"
      >Bandcamp&trade;</a
    >
  </li>
  <li>
    <a download href="/art/audio/cervid-s_Theme.flac">Direct download</a>
  </li>
  <li><a href="/art/audio/cervid-s_Theme.mscz">Score</a></li>
</ul>

<h2 id="capreolina-s-theme">
  <a class="zola-anchor" href="#capreolina-s-theme"
    ><cite>capreolina&rsquo;s Theme</cite></a
  >
</h2>

<figure>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Lossy_compression">Lossy</a> preview
    of <cite>capreolina&rsquo;s Theme</cite>
  </figcaption>

  <audio
    type="audio/ogg"
    controls
    preload="metadata"
    src="/art/audio/capreolina-s_Theme.opus"
  ></audio>
</figure>

<ul>
  <li>
    <a href="https://capreolina.bandcamp.com/album/capreolina-s-theme"
      >Bandcamp&trade;</a
    >
  </li>
  <li>
    <a download href="/art/audio/capreolina-s_Theme.flac">Direct download</a>
  </li>
  <li><a href="/art/audio/capreolina-s_Theme.mscz">Score</a></li>
</ul>

<h2 id="cervine-s-theme">
  <a class="zola-anchor" href="#cervine-s-theme"
    ><cite>cervine&rsquo;s Theme</cite></a
  >
</h2>

You can read about <cite>cervine&rsquo;s Theme</cite>
<a href="/diary/079/#cervine-s-theme">in pt. lxxx of my diary</a>.

<figure>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Lossy_compression">Lossy</a> preview
    of <cite>cervine&rsquo;s Theme</cite>
  </figcaption>

  <audio
    type="audio/ogg"
    controls
    preload="metadata"
    src="/art/audio/cervine-s_Theme.opus"
  ></audio>
</figure>

<ul>
  <li>
    <a href="https://capreolina.bandcamp.com/album/cervine-s-theme"
      >Bandcamp&trade;</a
    >
  </li>
  <li>
    <a download href="/art/audio/cervine-s_Theme.flac">Direct download</a>
  </li>
  <li><a href="/art/audio/cervine-s_Theme.mscz">Score</a></li>
</ul>

<h2 id="alces-s-theme">
  <a class="zola-anchor" href="#alces-s-theme"
    ><cite>alces&rsquo;s Theme</cite></a
  >
</h2>

You can read about <cite>alces&rsquo;s Theme</cite>
<a href="/diary/095/#alces-s-theme">in pt. xcvi of my diary</a>.

<figure>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Lossy_compression">Lossy</a> preview
    of <cite>alces&rsquo;s Theme</cite>
  </figcaption>

  <audio
    type="audio/ogg"
    controls
    preload="metadata"
    src="/art/audio/alces-s_Theme.opus"
  ></audio>
</figure>

<figure>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Lossy_compression">Lossy</a> preview
    of <cite>alces&rsquo;s motif</cite>
  </figcaption>

  <audio
    type="audio/ogg"
    controls
    preload="metadata"
    src="/art/audio/alces-s_motif.opus"
  ></audio>
</figure>

<ul>
  <li>
    <a href="https://capreolina.bandcamp.com/album/alces-s-theme"
      >Bandcamp&trade;</a
    >
  </li>
  <li>
    <a download href="/art/audio/alces-s_Theme.flac">Direct download</a>
  </li>
  <li><a href="/art/audio/alces-s_Theme.mscz">Score</a></li>
  <li>
    <a download href="/art/audio/alces-s_motif.flac"
      >Direct download of <cite>alces&rsquo;s motif</cite></a
    >
  </li>
</ul>

<h2 id="tarandus-s-theme">
  <a class="zola-anchor" href="#tarandus-s-theme"
    ><cite>tarandus&rsquo;s Theme</cite></a
  >
</h2>

You can read about <cite>tarandus&rsquo;s Theme</cite>
<a href="/diary/098/#tarandus-s-theme">in pt. xcix of my diary</a>.

<figure>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Lossy_compression">Lossy</a> preview
    of <cite>tarandus&rsquo;s Theme</cite>
  </figcaption>

  <audio
    type="audio/ogg"
    controls
    preload="metadata"
    src="/art/audio/tarandus-s_Theme.opus"
  ></audio>
</figure>

<ul>
  <li>
    <a href="https://capreolina.bandcamp.com/album/tarandus-s-theme"
      >Bandcamp&trade;</a
    >
  </li>
  <li>
    <a download href="/art/audio/tarandus-s_Theme.flac">Direct download</a>
  </li>
  <li><a href="/art/audio/tarandus-s_Theme.mscz">Score</a></li>
</ul>

<h2 id="bevy_test">
  <a class="zola-anchor" href="#bevy_test"><cite>bevy_test</cite></a>
</h2>

<figure>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Lossy_compression">Lossy</a> preview
    of <cite>bevy_test</cite>
  </figcaption>

  <audio
    type="audio/ogg"
    controls
    preload="metadata"
    src="/art/audio/bevy_test.opus"
  ></audio>
</figure>

<ul>
  <li>
    <a href="https://capreolina.bandcamp.com/track/bevy-test"
      >Bandcamp&trade;</a
    >
  </li>
  <li>
    <a download href="/art/audio/bevy_test.flac">Direct download</a>
  </li>
  <li><a href="/art/audio/bevy_test.mscz">Score</a></li>
</ul>

{% include "art_nav.html" %}

{% include "postlude.html" %}
