{% set html_title = page.title ~ " | deer&rsquo;s website" %}
{% include "prelude.html" %}

{% set entry_ix = page.slug | int(base=10) %}
{% set_global prev_slug = entry_ix - 1 | as_str %}
{% set_global next_slug = entry_ix + 1 | as_str %}

{# shitty hack for zero-padding to a length of three #}
{% for i in [0, 1] %}
  {% set prev_slug_len = prev_slug | length %}
  {% set next_slug_len = next_slug | length %}

  {% if prev_slug_len < 3 %}
    {% set_global prev_slug = "0" ~ prev_slug %}
  {% endif %}
  {% if next_slug_len < 3 %}
    {% set_global next_slug = "0" ~ next_slug %}
  {% endif %}
{% endfor %}

<a href="#entry-start" class="skip-a screen-reader">Skip to the entry&rsquo;s beginning</a>

<nav class="section-nav">
  <ul>
    {%- if entry_ix >= 1 -%}
      <li><a href="../{{ prev_slug }}/" accesskey="p">&larr; <u>p</u>revious entry</a></li>
    {%- endif -%}
    <li><a href="../" accesskey="i">back to <u>i</u>ndex</a></li>
    {#- snip -#}
    <li><a href="../{{ next_slug }}/" accesskey="n"><u>n</u>ext entry &rarr;</a></li>
    {#- snip -#}
  </ul>
</nav>

<div class="first-published">
  First published on <time datetime="{{ page.date }}">{{ page.date }}</time>.
</div>

{% set_global has_h2 = false %}
{% for h1 in page.toc %}
  {% if h1.children %}
    {% set h2s = h1.children | length %}
    {% if h2s > 0 %}
      {% set_global has_h2 = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if has_h2 %}
  {% include "toc.html" %}
{% endif %}

<span id="entry-start" class="screen-reader"></span>

{{ page.content | safe }}

<nav class="section-nav">
  <ul>
    {#- snip -#}
    <li>
      {%- if entry_ix < 1 -%}
        <span class="screen-reader">there is no previous entry</span>
      {%- else -%}
        <a href="../{{ prev_slug }}/">&larr; <u>p</u>revious entry</a>
      {%- endif -%}
    </li>
    {#- snip -#}
    <li><a href="../">back to <u>i</u>ndex</a></li>
    {#- snip -#}
    <li><a href="../{{ next_slug }}/"><u>n</u>ext entry &rarr;</a></li>
    {#- snip -#}
  </ul>
</nav>

{% include "postlude.html" %}
