{% include "prelude.html" %}

{{ section.content | safe }}

<ol style="list-style-type: square;">
  {%- set pages_sorted = section.pages | sort(attribute="slug") | reverse -%}
  {%- for page in pages_sorted -%}
    <li><time datetime="{{ page.date }}" class="entry-list-time">{{ page.date }}</time>
    <span class="screen-reader">:</span>
    <a class="entry-list-a" href="{{ page.path | safe }}">
      {%- if page.title is containing(":") -%}
        {{- page.title | split(pat=":") | nth(n=1) | trim -}}
      {%- else -%}
        {{- page.title | trim -}}
      {%- endif -%}
    </a></li>
  {%- endfor -%}
</ol>

<p style="font-size: smaller;">
  <a href="/tt_diary/">&#x1f58c;&#xfe0f;</a>
</p>

{% include "postlude.html" %}
