{% include "prelude.html" %}

{% include "art_nav.html" %}

<span id="toc-label" class="screen-reader">table of contents</span>
<nav class="toc" aria-labelledby="toc-label">
  <ul>
    <li>
      <a href="#images">images</a>
      <ul>
        <li><a href="#my-original-works">my original works</a></li>
        <li>
          <a href="#other-people-s-drawings-of-my-characters">
            other people&rsquo;s drawings of my characters
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<h1 id="images"><a class="zola-anchor" href="#images">images</a></h1>

<h2 id="my-original-works">
  <a class="zola-anchor" href="#my-original-works">my original works</a>
</h2>

<figure>
  <img
    src="/art/images/deer.webp"
    alt="deer ✜"
    title="deer"
    loading="lazy"
    decoding="async"
  />

  <figcaption>Self-portrait</figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/cervid-final.webp"
    alt="cervid, the STR bishop ✜"
    title="cervid, the STR bishop"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A self-portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#str-mage"
      >STR bishop</a
    >
    <b>cervid</b>
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/rusa-final.webp"
    alt="rusa, the darksterity knight ✜"
    title="rusa, the darksterity knight"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A self-portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dex-warrior"
      >darksterity knight</a
    >
    <b>rusa</b>
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/rusa-moshed.webp"
    alt="r&#xfffd;sa, th&#xfffd; darkst&#xfffd;rity &#xfffd;night ✜"
    title="r&#xfffd;sa, th&#xfffd; darkst&#xfffd;rity &#xfffd;night"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A self-portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dex-warrior"
      >darksterity knight</a
    >
    <b>rusa</b> (<a href="https://en.wikipedia.org/wiki/Glitch_art">moshed</a>)
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/rusa-anim.webp"
    alt="The making of «&nbsp;rusa, the darksterity knight&nbsp;» ✜"
    title="The making of «&nbsp;rusa, the darksterity knight&nbsp;»"
    loading="lazy"
    decoding="async"
  />

  <figcaption>The making of <i>rusa, the darksterity knight</i></figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/alces-final.webp"
    alt="alces, the daggermit ✜"
    title="alces, the daggermit"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A self-portrait of my
    <a href="https://oddjobs.codeberg.page/odd-jobs.html#dagger-assassin"
      >daggermit</a
    >
    <b>alces</b>
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/alces-final-double-stabbed.webp"
    alt="alces, the daggermit (Double Stabbed) ✜"
    title="alces, the daggermit (Double Stabbed)"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A self-portrait of my
    <a href="https://oddjobs.codeberg.page/odd-jobs.html#dagger-assassin"
      >daggermit</a
    >
    <b>alces</b> (<a href="https://maplelegends.com/lib/skill?id=4001334"
      >Double Stab</a
    >bed)
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/alces-final-double-stabbed-prime.webp"
    alt="alces, the daggermit (Double Stabbed&prime;) ✜"
    title="alces, the daggermit (Double Stabbed&prime;)"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A self-portrait of my
    <a href="https://oddjobs.codeberg.page/odd-jobs.html#dagger-assassin"
      >daggermit</a
    >
    <b>alces</b> (<a href="https://maplelegends.com/lib/skill?id=4001334"
      >Double Stab</a
    >bed&prime;)
  </figcaption>
</figure>

<h2 id="other-people-s-drawings-of-my-characters">
  <a class="zola-anchor" href="#other-people-s-drawings-of-my-characters">
    other people&rsquo;s drawings of my characters
  </a>
</h2>

<figure>
  <img
    src="/art/images/lesley_-_d00r_portrait.webp"
    alt="lesley &mdash; untitled portrait of d00r"
    title="lesley &mdash; untitled portrait of d00r"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#magelet"
      >clericlet</a
    >
    <b>d00r</b>, by
    <b>lesley</b>
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/tarandus_portrait_-_by_Sleazy.jpeg"
    alt="Sleazy &mdash; untitled portrait of tarandus"
    title="Sleazy &mdash; untitled portrait of tarandus"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#pugilist"
      >pugilist</a
    >
    <b>tarandus</b>, by
    <a
      href="https://forum.maplelegends.com/index.php?threads/sleazys-artshop.46699/"
      ><b>Sleazy</b></a
    >
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/cervine_portrait_-_by_Slime.webp"
    alt="Slime &mdash; untitled portrait of cervine"
    title="Slime &mdash; untitled portrait of cervine"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A portrait of my I/L
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#magelet"
      >archmagelet</a
    >
    <b>cervine</b>, by
    <a href="https://slimeplease.artstation.com/"><b>Slime</b></a>
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/ozotoceros_-_by_Slime.webp"
    alt="Slime &mdash; untitled portrait of ozotoceros"
    title="Slime &mdash; untitled portrait of ozotoceros"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#islander"
      >islander</a
    >
    <b>ozotoceros</b>, by
    <a href="https://slimeplease.artstation.com/"><b>Slime</b></a>
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/capreolina_portrait_-_by_Tarnished.jpeg"
    alt="Tarnished &mdash; untitled portrait of capreolina"
    title="Tarnished &mdash; untitled portrait of capreolina"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#woodswoman"
      >woodsmaster</a
    >
    <b>capreolina</b>, by
    <a
      href="https://forum.maplelegends.com/index.php?threads/tarnished-draws-your-character-for-money.46740/"
      ><b>Tarnished</b></a
    >
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/cervid_portrait_-_by_Knarf.webp"
    alt="Knarf &mdash; untitled portrait of cervid"
    title="Knarf &mdash; untitled portrait of cervid"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#str-mage"
      >STR bishop</a
    >
    <b>cervid</b>, by
    <a
      href="https://forum.maplelegends.com/index.php?threads/knarfs-artwork-shop.46491/"
      ><b>Knarf</b></a
    >
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/d34r_portrait_-_by_Prixmite.webp"
    alt="PrismIridescent &mdash; untitled portrait of d34r"
    title="PrismIridescent &mdash; untitled portrait of d34r"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    Portrait of my <a href="https://codeberg.org/Victoria/resources">vicloc</a>
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dagger-warrior"
      >dagger spearwoman</a
    >
    <b>d34r</b>, by
    <a href="https://prismiridescent.carrd.co/"><b>PrismIridescent</b></a>
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/Slime_-_animated_rusa_portrait.webp"
    alt="Slime &mdash; untitled animated portrait of rusa"
    title="Slime &mdash; untitled animated portrait of rusa"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    Animated portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dex-warrior"
      >darksterity knight</a
    >
    <b>rusa</b>, by
    <a href="https://slimeplease.artstation.com/"><b>Slime</b></a>
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/d34r-lineart-by-baboom.webp"
    alt="Baboom &mdash; unfinished lineart of d34r"
    title="Baboom &mdash; unfinished lineart of d34r"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    Unfinished <a href="https://en.wikipedia.org/wiki/Line_art">lineart</a> of
    my <a href="https://codeberg.org/Victoria/resources">vicloc</a>
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dagger-warrior"
      >dagger spearwoman</a
    >
    <b>d34r</b>, by
    <a
      href="https://forum.maplelegends.com/index.php?threads/babooms-art-shop-3.45140/"
      ><b>Baboom</b></a
    >
  </figcaption>
</figure>

<hr />

<figure>
  <img
    src="/art/images/rusa-portrait-by-ramon.jpeg"
    alt="Ramon &mdash; portrait of rusa"
    title="Ramon &mdash; portrait of rusa"
    loading="lazy"
    decoding="async"
  />

  <figcaption>
    A portrait of my
    <a
      href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dex-warrior"
      >darksterity knight</a
    >
    <b>rusa</b>, by <b>Ramon</b>
  </figcaption>
</figure>

{% include "art_nav.html" %}

{% include "postlude.html" %}
