{% set html_title = "deer&rsquo;s website" %}
{% set prelude_h1 = true %}
{% include "prelude.html" %}

<p>
  Hi, I&rsquo;m <b>deer</b>. I play <a
  href="https://en.wikipedia.org/wiki/MapleStory">MapleStory</a>. I&rsquo;m the
  leader of <a href="https://oddjobs.codeberg.page/">the <b>Oddjobs</b>
  guild</a> on <a href="https://maplelegends.com/">MapleLegends</a>, and of the
  <b>Suboptimal</b> alliance that Oddjobs is a member of.
</p>

<p>
  If you know me, you probably know me for the various <a
  href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/">odd-jobbed</a>
  characters that I play, and maybe you have read <a href="/diary">my diary</a>
  before. Some of my characters include:
</p>

<ul>
  <li><b>cervid</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#str-mage">STR bishop</a>.</li>
  <li><b>capreolina</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#woodswoman">woodsmaster</a>.</li>
  <li><b>cervine</b>, my <abbr title="ice/lightning">I/L</abbr> <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#magelet">archmagelet</a>.</li>
  <li><b>rusa</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dex-warrior">darksterity knight</a>.</li>
  <li><b>alces</b>, my <a href="https://oddjobs.codeberg.page/odd-jobs.html#dagger-assassin">daggerlord</a>.</li>
  <li><b>tarandus</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#pugilist">pugilist</a>.</li>
  <li><b>d34r</b>, my <a href="https://codeberg.org/Victoria/resources"><abbr title="Victorian-Archipelago-locked">Vicloc</abbr></a> <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dagger-warrior">dagger spearwoman</a>.</li>
  <li><b>d33r</b>, my Vicloc <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#magelet">clericlet</a>.</li>
  <li><b>d00r</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#magelet">priestlet</a> <a href="https://maplelegends.com/lib/skill?id=2311003"><abbr title="Holy Symbol">HS</abbr></a>&ndash;<a href="https://maplelegends.com/lib/skill?id=2311002"><abbr title="Mystic Door">door</abbr></a> mule.</li>
  <li><b>ozotoceros</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#islander">islander</a>.</li>
  <li><b>hashishi</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#permabeginner-outland">besinner</a>.</li>
  <li><b>panolia</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#permarogue">permarogue</a>.</li>
  <li><b>sorts</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dex-brawler">DEX brawler</a> <a href="https://bbb.hidden-street.net/party-quest/ludibrium"><abbr title="Lūdibrium Party Quest">LPQ</abbr></a>/<a href="https://bbb.hidden-street.net/party-quest/ellin-forest"><abbr title="Ellin Forest Party Quest">EPQ</abbr></a> mule.</li>
  <li><b>kinds</b>, my <a href="https://oddjobs.codeberg.page/guides/introduction-to-odd-jobs/#dex-warrior">DEX page</a> <a href="https://bbb.hidden-street.net/guild-quest/sharenian"><abbr title="Sharenian Guild Quest">SGQ</abbr></a>/<a href="https://bbb.hidden-street.net/party-quest/kerning-city"><abbr title="Kerning Party Quest">KPQ</abbr></a> mule.</li>
  <li><b>potpan</b>, my <abbr title="fire/poison">F/P</abbr> mage <a href="https://bbb.hidden-street.net/party-quest/magatia"><abbr title="Magatia Party Quest (a.k.a. Romeo &amp; Juliet Party Quest)">MPQ</abbr></a> mule.</li>
  <li><b>sets</b>, my hermit <a href="https://bbb.hidden-street.net/party-quest/orbis"><abbr title="Orbis Party Quest">OPQ</abbr></a> mule.</li>
  <li>&vellip;</li>
</ul>

<p>
  This is my personal website. From here, you can check out <a href="/diary">my
  diary</a>, check out <a href="/art">some art that I&rsquo;ve made (or
  commissioned)</a>, check out <a href="/projects">some interesting (or
  not&hellip;) projects of mine</a>, check out <a
  href="https://codeberg.org/deer">my git repositories</a>, or find <a
  href="/contact">ways to contact me</a>. &#x1f642;
</p>

{% include "postlude.html" %}
