<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {%- if html_title -%}
        {{- html_title | safe -}}
      {%- elif page.title -%}
        {{- page.title -}}
      {%- else -%}
        {{- section.title -}}
      {%- endif -%}
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" type="text/css" />
    {%- if pre_wrap -%}
      <style>pre { white-space: pre-wrap; }</style>
    {%- endif -%}
    <link rel="icon" type="image/png" href="{{ get_url(path="img/favicon.png") }}" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed for my diary" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" />
  </head>

  <body>
    <a href="#main" class="skip-a screen-reader">Skip to the main content</a>

    <header id="header">
      <div id="header-top">
        <a class="unstyled-a" href="/"><img
          id="header-img"
          src="{{ get_url(path="img/selfie-cropped.webp") }}"
          alt="" /></a>

        <
        {%- if prelude_h1 -%}
          h1
        {%- else -%}
          span
        {%- endif %}
        id="header-top-text"><a class="unstyled-a"
          href="/"><b id="header-b">deer</b>&rsquo;s website</a></
        {%- if prelude_h1 -%}
          h1
        {%- else -%}
          span
        {%- endif -%}
        >
      </div>

      <nav id="header-nav">
        <ul>
          {#- snip -#}
          <li><a href="/">home</a></li>
          {#- snip -#}
          <li><a href="/diary">diary</a></li>
          {#- snip -#}
          <li><a href="/art">art</a></li>
          {#- snip -#}
          <li><a href="/projects">projects</a></li>
          {#- snip -#}
          <li><a href="{{ get_url(path="atom.xml", trailing_slash=false) }}"><abbr title="Atom Syndication Format">Atom</abbr> (<abbr title="Really Simple Syndication">RSS</abbr>)</a></li>
          {#- snip -#}
          <li><a href="https://codeberg.org/deer">git</a></li>
          {#- snip -#}
          <li><a href="/contact">contact</a></li>
          {#- snip -#}
        </ul>
      </nav>
    </header>

    <script type="module" async src="{{ get_url(path="js/odd_width.js") }}"></script>
    <script type="module" async src="{{ get_url(path="js/fn_preview.js") }}"></script>
    <script type="module" async src="{{ get_url(path="js/crumbs.js") }}"></script>
    <script type="module" async src="{{ get_url(path="js/audio.js") }}"></script>
    <script type="module" async src="{{ get_url(path="js/lang_titles.js") }}"></script>
    <script type="module" async src="{{ get_url(path="js/main.js") }}"></script>

    <main id="main">
      <div id="main-narrow">
