{% if section.toc %}
  {% set toc = section.toc %}
{% elif page.toc %}
  {% set toc = page.toc %}
{% endif %}

<nav class="toc" aria-labelledby="toc-label" role="doc-toc">
  <span id="toc-label" class="screen-reader">table of contents</span>
  <ul>
    {%- for h1 in toc -%}
      <li><a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {%- if h1.children -%}
          <ul>
            {%- for h2 in h1.children -%}
              <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                {%- if h2.children -%}
                  <ul>
                    {%- for h3 in h2.children -%}
                      <li><a href="{{ h3.permalink | safe }}">
                        {{- h3.title -}}
                      </a></li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
